* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('background.jpg');
    overflow-y: hidden;
}


#header {
    text-align: center;
    color: white;
    font-size: 80px !important;
    text-shadow: 2px 2px 10px #42e3f5;
}

.choice {
    height: 150px;
    width: 150px;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: column;
}

#choose {
    font-size: 24px;
    margin-bottom: 5px;
    text-shadow: 0 0 5px #42e3f5;
}

button {
    width: 65px;
    height: 40px;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0 0 10px #42e3f5;
    margin-top: 10px;
    margin-bottom: 10px;
    align-self: center;
}

.board {
    margin-top: 20px;
    width: 100%;
    visibility: hidden;
}

.squares {
    border: 0.3px solid white;
    height: 100px;
    width: 100px;
    margin: 0 0;
    padding: 0 0;
    color: white;
    text-align: center;
    font-size: 42px;
    text-shadow: 2px 2px 5px #42e3f5;
}

table {
    height: 300px;
    width: 300px;
    height: 300px;
    width: 300px;
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
}

.squares:hover {
    box-shadow: 5px 5px 20px #42e3f5;
}

#reset {
    width: 120px;
    height: 50px;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0 0 10px #42e3f5;
    margin-top: -20px;
    margin-left: 1140px;
}

.decision {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

#text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-shadow: 2px 2px 5px #42e3f5;
}